# Project exclude paths
/src/main/java/com/blezzdev/vjade/DebugScreenOne.java
/src/main/java/com/blezzdev/vjade/DebugScreenTwo.java
/src/main/java/com/blezzdev/vjade/DebugPlayer.java
/src/main/java/com/blezzdev/vjade/Main.java
/assets